---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture } from "astro:assets";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Heading from "~/components/Heading.astro";
import ProductSlider from "~/components/ProductSlider.astro";

// Images
import CherryJarOpened from "~/assets/images/products/cherry-jar-opened.jpg";
---

<Layout title="Visinella" pageTitle="Visinella" description="Welcome to Visinella!">
	<Section 
		id="home" 
		class:list={"pt-[60px] lg:pt-[80px]"} 
		style="scroll-margin-top: 120px;"
		showBottomBorder={true}
		bottomBorderColor="#fef5f5"
	>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<h3 class="font-black">Produse naturale din livada noastră.</h3>

				<p>
					Suntem un producător dedicat realizării de produse naturale, din vișine culese cu grijă din propria livadă.
					Prin marca Visinella, ne propunem să aducem un gust autentic și sănătos în fiecare casă, oferind compoturi,
					gemuri și alte delicii realizate fără conservanți sau aditivi artificiali.
				</p>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"clip-blob w-120 h-120 object-cover shadow-lg mx-auto"}
					src={CherryJarOpened}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>
	<Section 
		id="products" 
		class:list={""} 
		style="background-color: #fef5f5 !important; min-height: 100%;"
		
	>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-red-dark h2">Produsele noastre</h2>
			<p slot="heading-content">
				Descoperă produse naturale din vișine, realizate cu pasiune și grijă pentru
				calitate.
			</p>
		</Heading>

		<ProductSlider />
	</Section>
	<Section 
		id="reviews" 
		class:list={"bg-brand-red/20"} 
		style="background-color: rgba(122, 21, 37, 0.2) !important;"
		showTopBorder={true}
		topBorderColor="#fef5f5"
		showBottomBorder={true}
		bottomBorderColor="bg-brand-red-dark"
	>
		<div class="py-16">

		</div>
	</Section>
</Layout>
