<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VIȘINELLA</title>
  <style>
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      background: #f9f9f9;
    }
    img {
      max-width: 200px;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 2.5rem;
      margin: 0;
    }
  </style>
</head>
<body>
  {{ .Content }}
</body>
</html>
