---
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
---

<footer class="bg-brand-red-dark text-white">
	<div class="container pt-16 pb-8">
		<p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a></p>
	</div>
</footer>
