---
const { id, class: className, contain = true, style } = Astro.props;
---

<section id={id} class={className} style={style}>
	<div class={`${contain ? "container py-16 lg:py-32" : ""}`}>
		<slot />
	</div>
</section>
